<div class="calculator">
    <div class="header">
       <div class="window">
          <span class="red"></span>
          <span class="yellow"></span>
          <span class="green"></span>
       </div>
       <div class="input">
           <span>{{this.arr}}</span>
       </div>
    </div>
    <div class="keys">
       <div class="row">
          <div class="number">
             <span (click)="create('7')">7</span>
             <span (click)="create('8')">8</span>
             <span (click)="create('9')">9</span>
          </div>
          <div class="symbol">
             <span (click)="create('/')">÷</span>
          </div>
       </div>
       <div class="row">
          <div class="number">
             <span (click)="create('4')">4</span>
             <span (click)="create('5')">5</span>
             <span (click)="create('6')">6</span>
          </div>
          <div class="symbol">
             <span (click)="create('-')">-</span>
          </div>
       </div>
       <div class="row">
          <div class="number">
             <span (click)="create('1')">1</span>
             <span (click)="create('2')">2</span>
             <span (click)="create('3')">3</span>
          </div>
          <div class="symbol">
             <span (click)="create('+')">+</span>
          </div>
       </div>
       <div class="row">
          <div class="number">
             <span class="dull" (click)="create('AC')">AC</span>
             <span (click)="create('0')">0</span>
             <span (click)="create('*')">*</span>
          </div>
          <div class="symbol action">
             <span (click)="create('=')">=</span>
          </div>
       </div>
    </div>
 </div>
 <p class="credit">
    Inspired from the design by <a href="https://dribbble.com/shots/3998247-Calculator" target="_blank">Dennis</a>
 </p>